[Unit]
Description=Fadecandy Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/fadecandy/
ExecStart=/root/fadecandy/bin/fcserver-rpi
Restart=always

[Install]
WantedBy=multi-user.target
