[Unit]
Description=FC Buttons Project
After=mpd.target
After=fadecandy.target

[Service]
Type=simple
WorkingDirectory=/root
ExecStart=/root/.cargo/bin/fcbuttons
Restart=always

[Install]
WantedBy=multi-user.target
